.cron-editor-main .cron-editor-container {
  margin-top: 10px;
}

.cron-editor-main .cron-editor-container .cron-editor-radio {
  width: 20px;
  display: inline-block;
}

.cron-editor-main .cron-editor-container .cron-editor-select,
.cron-editor-main .cron-editor-container .cron-editor-input,
.cron-editor-main .cron-editor-container .cron-editor-checkbox {
  display: inline-block;
}

.cron-editor-main .cron-editor-container .well-time-wrapper {
  padding-left: 20px;
}

.cron-editor-main .cron-editor-container .inline-block {
  display: inline-block;
}

.cron-editor-main .cron-editor-container .minutes,
.cron-editor-main .cron-editor-container .hours,
.cron-editor-main .cron-editor-container .days,
.cron-editor-main .cron-editor-container .seconds {
  width: 70px;
}

.cron-editor-main .cron-editor-container .months {
  width: 120px;
}

.cron-editor-main .cron-editor-container .month-days {
  width: 130px;
}

.cron-editor-main .cron-editor-container .months-small {
  width: 60px;
}

.cron-editor-main .cron-editor-container .day-order-in-month {
  width: 115px;
}

.cron-editor-main .cron-editor-container .week-days {
  width: 120px;
}

.cron-editor-main .cron-editor-container .advanced-cron-editor-input {
  width: 200px;
}

.cron-editor-main .cron-editor-container .hour-types {
  width: 70px;
}

.nav-tabs li a {
  cursor: pointer;
}

.card-header {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: rgb(208, 208, 224);
}

.custom-control-label {
  position: inherit;
  margin-bottom: 0;
  margin-left: 15px;
}

input[type="radio"]{
	position: absolute;
	right: 9000px;
}

/*Radio Toggle*/
.toggle input[type="radio"] + .label-text:before{
	content: "\f204";
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 10px;
}

.toggle input[type="radio"]:checked + .label-text:before{
	content: "\f205";
	color: #007bff;
	animation: effect 250ms ease-in;
}

.toggle input[type="radio"]:disabled + .label-text{
	color: #aaa;
}

.toggle input[type="radio"]:disabled + .label-text:before{
	content: "\f204";
	color: #ccc;
}


@keyframes effect{
	0%{transform: scale(0);}
	25%{transform: scale(1.3);}
	75%{transform: scale(1.4);}
	100%{transform: scale(1);}
}